---
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";

const panels = await getCollection("panels");
---

<Layout>
  {panels.map((panel) => <div>{panel.data.name}</div>)}
</Layout>
