---
import Layout from "../layouts/Layout.astro";
import { panelMap } from "../libs/panels";

// Convert the panel map into an array of [key, panel] pairs
const panels = Object.entries(panelMap);
---

<Layout>
  <h1>Available Panels</h1>
  <ul>
    {
      panels.map(([key, panel]) => (
        <li>
          <a href={`/products/${key}`}>
            {panel.name} - ${panel.price}
          </a>
        </li>
      ))
    }
  </ul>
</Layout>
