---
import Layout from "../layouts/Layout.astro";
import LoginInput from "../components/LoginInput.svelte";
---

<Layout>
  <h1>Admin Login</h1>
  <LoginInput client:load />
</Layout>

<style></style>
